
.sidebar {
    width:350px;
    height: 100%;
    transition: 1s ease;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    position:absolute;
    left:0;
}

.sidebar_close {
    left:-350px;
}

#collapse-btn {
    position: absolute;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 1px rgba(0 ,0, 0, .3);
    left: 100%;
    top: 50%;
    background: white;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border: 1px solid #A7DEFF;
}


#collapsed-icon{
    position: relative;
    top: 7px;
    left: 10px;
    transform: rotate(180deg);
}

.sidebar_close #collapsed-icon{
    top: 10px;
    left: 21px;
    transform: rotate(360deg);
}
